#body {
  height: 100%;
  width: 100%; }

#gohere {
  background-position-x: 47%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  text-align: right;
  float: left;
  width: 318px;
  height: 480px;
  margin: 50px 0 0 42px; }

#input {
  margin: 15px 0 35px;
  height: 55px;
  width: 100%;
  font-size: 40px;
  text-align: right;
  background-color: transparent;
  border: none;
  padding-right: 8px;
  /* TODO: clicking numbers to display latest */ }

#numbers {
  width: 215px;
  padding: 10px 0;
  float: left; }

#symbols {
  float: right;
  height: auto;
  width: 95px;
  padding: 10px 0px; }

button {
  margin: 5px 5px 5px  0;
  width: 63px;
  height: 55px;
  font-family: verdana;
  font-size: 20px; }

#button0 {
  width: 135px; }

#button-equals {
  width: 100%; }

.butt {
  margin: 5px 0px 5px  0;
  width: 100%;
  height: 55px;
  font-family: verdana; }

.pictures-box {
  float: left;
  height: auto;
  width: 600px;
  padding: 0 100px; }

.picture-scale {
  width: 90%; }

.picture-here {
  width: 100%; }

.picture-here img {
  width: 100%; }

#clear {
  width: 240px; }

.infohere {
  float: right;
  width: 300px; }

@media screen and (max-width: 1366px) {
  .bigpics-cal {
    margin-bottom: 0%; }

  #gohere {
    border-radius: 8px;
    text-align: right;
    float: left; } }
@media screen and (max-width: 1215px) {
  .pictures-box {
    width: 500px;
    padding: 0 60px; } }
@media screen and (max-width: 1035px) {
  .pictures-box {
    width: 400px;
    padding: 0 60px; } }
@media screen and (max-width: 640px) {
  .bigpics-cal {
    width: 0; }

  .ex-cal {
    width: 30%;
    float: right; } }
@media screen and (max-width: 540px) {
  .bigpics-cal {
    width: 100%; }

  .ex-cal {
    width: 100%; } }
